/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos general */

/* Estilo del header */

header .navbar .container-fluid{
    background-color: #ffffff;
}

header .navbar .container-fluid .navbar-brand .logo-empresa{
    max-width: 240px;
}

/* Estilos de .main-index */

.main-index .titulo-index-principal{
    display: grid;
    grid-template-columns: repeat(2, 90% 10%);
    grid-template-rows: 1;

    grid-template-areas: 
    "h1 boton"
    ;

    padding: 10px;
}

.main-index .titulo-index-principal h1{
    grid-area: h1;
    text-align: center;
}

.main-index .titulo-index-principal .boton-ofertas{
    grid-area: boton;
    justify-self: end;
    margin-top: 15px;
    width: 135px;
}

.main-index .container-imagenes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 120px;
    padding: 50px;
  }
  
  .main-index .container-imagenes .item {
    text-align: center;
}

.main-index .container-imagenes .item-1{
    visibility: hidden;
    grid-area: item-1;
}
  
.main-index .container-imagenes .item .descuento{
    color: purple
}

  .item img {
    width: 100%;
    height: auto;
  }
  
  .item button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }

/* Estilos del .section-index */

.section-index .container-lista{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 120px;
    padding: 50px;
}

.section-index .container-lista .lista img {
    width: 100%;
    height: auto;
  }

.section-index .container-lista .lista p{
    text-align: center;
    font-size: 50px;
    z-index: 2000;
  }

/* Estilo del footer */

footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    grid-template-areas: 
    "Contactos Metodos"
    "Telefono Metodos";
    background-color: #F8F9FA;
    padding: 20px;
}

footer h3{
    margin-bottom: 10px;
}

footer .contactos{
    grid-area: Contactos;
    margin-left: 68px;
}

footer .telefono{
    margin-top: 10px;
    grid-area: Telefono;
    margin-left: 68px;
}

footer .metodos-pago{
    grid-area: Metodos;
    margin-top: 25px;
}

footer .metodos-pago .metodos-pago-texto{
    display: flex;
    justify-content: center;
    margin-right: 300px;
}

footer .metodos-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 300px;
}

footer .metodo-1, .metodo-2, .metodo-3, .metodo-4, .metodo-5, .metodo-6{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 10px;
}

/* Estilos de main de ofertas */

.main-ofertas .titulo-ofertas-principal .h1-ofertas{
    text-align: center;
    padding: 30px;
}

.main-ofertas .container-imagenes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 120px;
    padding: 50px;
  }
  
  
.main-ofertas .container-imagenes .item .descuento{
    color: purple
}

  .item img {
    width: 100%;
    height: auto;
  }
  
  .item button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }

/* Estilos de main de lista */

.main-lista .container-imagenes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 200px;
    padding: 120px;
  }

.main-lista .container-imagenes .item-1{
    visibility: hidden;
    grid-area: item-1;
}
  
.main-lista .container-imagenes .item .descuento{
    color: purple
}

.main-lista .container-imagenes .item a{
    text-decoration: none;
}

  .item img {
    width: 100%;
    height: 400px;
  }
  
  .item button{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: auto;
    margin-top: 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }

/* Propiedades de mq */

@media screen and (min-width:1000px){
    .main-ofertas .container-imagenes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        gap: 120px;
        padding: 50px;
      }
}

@media screen and (max-width:720px){



}